.card{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    height:auto;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 50px;
    overflow: hidden;
    transition: all .3s ease;
    // background-color: rgb(144, 0, 255);
    &:hover{
        background-color: black;
    }

    .cardImg{
        display: block;
        position: relative;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    .cardTxt{
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        color: white;
        margin: 0 auto;
        padding: .5em;
        
        h2{
            position: relative;
            display: block;
            margin: .5em 0;
            font-size: 1.8rem;
            font-weight: normal;
            font-family: 'Gentium Book Basic', serif;
        }
        p{
            position: relative;
            display: block;
            font-size: 1rem;
            line-height: 1.3;
            margin-bottom: .5em;
        }
    }
}

@media (min-width: 990px) {
    .card{
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items:flex-start;
        margin: 10px;
        // margin-bottom: 50px;
        max-width: 605px;
        min-width: 400px;
        height: auto;
        max-height: 600px;
    
        .cardImg{
            display: block;
            position: relative;
            margin-right: 0em;
            width: 50%;
            height: auto;
        }
    
        .cardTxt{
            position: relative;
            display: block;
            width: 50%;
            color: white;
            margin: 0;
            padding: 0 .5em;
            padding-top: 2em;
            
            h2{
                margin: .5em 0;
                font-size: 1.5rem;
                font-weight: normal;
                font-family: 'Gentium Book Basic', serif;
                word-wrap: wrap;
            }
            p{
                font-size: 1rem;
                line-height: 1.3;
            }
        }
    } 
}
