.card{
    position: relative;
    display: flex;
    // flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    flex: 50%;
    width: 100%;
    height:auto;
    margin-bottom: 50px;
    max-width: 605px;
    overflow: hidden;
    background-color: rgb(144, 0, 255);

    .cardImg{
        display: block;
        margin-right: 1em;
        width: 60%;
        height: 400px;
    }

    .cardTxt{
        position: relative;
        display: block;
        width: 40%;
        color: white;
        margin: 1em 0;
        
        h2{
            margin: .5em 0;
            font-size: 2rem;
            font-weight: bold;
            font-family: 'Gentium Book Basic', serif;
        }
        p{
            font-size: 1rem;
            line-height: 1.3;
        }
    }
}

@media (min-width: 990px) {
    .card{
        position: relative;
        display: flex;
        // flex-direction: column;
        justify-content: flex-start;
        align-items:center;
        flex: 50%;
        margin: 10px;
        margin-bottom: 50px;
        max-width: 605px;
        min-width: 400px;
        background-color: rgb(144, 0, 255);
    
        .cardImg{
            display: block;
            margin-right: 1em;
            width: 60%;
            height: 400px;
        }
    
        .cardTxt{
            position: relative;
            display: block;
            width: 40%;
            color: white;
            margin: 1em 0;
            
            h2{
                margin: .5em 0;
                font-size: 2rem;
                font-weight: bold;
                font-family: 'Gentium Book Basic', serif;
            }
            p{
                font-size: 1rem;
                line-height: 1.3;
            }
        }
    } 
}

// .card:nth-child(even){
//     position: relative;
//     flex: 35%;
//     margin-top: 300px;
//     // background-color: aliceblue;
// }
// .card:nth-child(odd){
//     // margin-top: -120px;
//     // background-color: aquamarine;
// }

// .card:first-child{
//     // margin-top: -10px;
// }