.flex{
    position: relative;
    display: block

}



.card{
    position: relative;
    padding: 1em;
    flex-basis: 33%;
    flex-shrink: 0;
    min-width: 400px;
    max-width: 600px;
    // background-image: url(/bg.jpg);
    // background-position: initial;
    // background-repeat: no-repeat;
    // background-size: cover;
    height: 300px;
    margin:2px;
}

.card::before{
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    // transform: rotate(-180deg);      
}

.cardTitle{
    position: absolute;
    top: 10;
    color: white;
    padding: 1em;
}

.title{
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-bottom: .2em;
}
.description{
    position: relative;
    bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    width: 60%;
    z-index: 3;
}

// .card::after{
//     content: "";
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 0;
//     background: rgba(17,23,29,.6);
// }