/** NAVIGATION **/
.nav {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 2;
    // overflow: hidden;
    transition: .5s ease;
    .menu {
        position: relative;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(0, 0, 0);
        background-color: none !important;
        background-color: black;
        -webkit-box-shadow: 0px 6px 27px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 6px 27px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 6px 27px 2px rgba(0,0,0,0.75);
        padding: 0 1em;
        overflow: hidden;
        // z-index: 4;
        .logo {
            position: relative;
            display: block;
            z-index: 2;
            min-width: 40px;
            max-width: 100px;
            height: auto;
            a{
                position: relative;
                display: block;
                padding: 0;
                border-radius: 10px;
                height: auto;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .menulist{
            position: relative;
            display: none;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            list-style-type: none;
            li{
                a{
                    position: relative;
                    display: block;
                    padding: 20px;
                    white-space: nowrap;
                    color: rgb(119, 119, 119);
                    transition: .3s ease-in-out;
                    &:hover{
                        color: rgb(249, 249, 249);
                    }
                }
            } 
        }
        .lang{
            position: relative;
            display: none;
            min-width: 50px;
            cursor: pointer;
            text-transform: uppercase;
            div{
                position: relative;
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a{
                    color: #777777;
                    font-size: .8rem;
                    font-weight: 600;
                    margin: 0 5px;
                    &:hover {
                            color: #ffffff;
                    }
                }
            }
        }
        .hamburger{
            position: relative;
            display: block;
            width: 40px;
            height: 40px;
            // background-color: rgb(187, 187, 187);
        }
    }
   
}

.sidenav {
    position: fixed;
    top: 75px;
    left: 120%;
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    list-style-type: none;
    background-color: rgb(9, 9, 9);
    border-radius: 4px;
    color: white;
    z-index: 3;
    // transform: translateY(-500px);
    transition: .2s ease;
    -webkit-box-shadow: 0px 6px 27px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 27px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 27px 2px rgba(0,0,0,0.75);

    .menulist{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li{
            position: relative;
            display: block;
            width: 100%;
            list-style-type: none;
            border-bottom: .5px solid #eee;

            a{
                position: relative;
                display: block;
                width: 100%;
                font-size: 1rem;
                font-family: inherit;
                text-align: center;
                color: white;
                padding: 1em 0;
            }
            // &:last-child{
            //     border-bottom: .5px solid black;
            // }
        }
    }
    .lang{
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        cursor: pointer;
        text-transform: uppercase;
        // padding: 0.5em 0;
        div{
            position: relative;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em 0;
            li{
                border-right: 1px solid beige;
                &:last-child{
                    border-right: none;
                }
                a{
                    color: #b9b9b9;
                    font-size: .9rem;
                    font-weight: 400;
                    margin: 0 10px;
                   
                    &:hover {
                        color: #ffffff;
                    }
                }
            }
            
        }
    }
}

.active{
    left: 2%;
}
// .active{
//     display: block !important;
// }
  
@media (min-width: 768px) {
 
    
}

@media (min-width: 990px) {
    .nav {
        position: fixed;
        width: 100%;
        height: 70px;
        z-index: 2;
        overflow: hidden;
        transition: .5s ease;

        .menu {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1rem;
            list-style-type: none;
            // -webkit-box-shadow: 0px 6px 4px 0px rgba(184,184,184,1);
            // -moz-box-shadow: 0px 6px 4px 0px rgba(184,184,184,1);
            // box-shadow: 0px 6px 4px 0px rgba(184,184,184,1);
            padding: 0 20px;

            .menulist{
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;
                list-style-type: none;

                li{
                    a{
                        position: relative;
                        display: block;
                        padding: 20px;
                        white-space: nowrap;
                        transition: .3s ease-in-out;
                        
                    }
                } 
            }
            .lang{
                position: relative;
                display: block;
                min-width: 50px;
                cursor: pointer;
                text-transform: uppercase;
                div{
                    position: relative;
                    position: relative;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a{
                    color: #777777;
                    font-size: .8rem;
                    font-weight: 600;
                    margin: 0 5px;
                    &:hover &:focus &:active {
                        color: #ffffff;
                    }
                    }
                }
            }
            .hamburger{
                position: relative;
                display: none;
            }
        }
    }
    
    // .bg{
    //     background-color: rgb(0, 0, 0) !important;
    //   }
    // .bgi{
    //     background-color: white !important;
    // }
}




