.about {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: black;
    /* padding: 70px 0px; */
    padding-top: 60px;
    padding-bottom: 80px;
}

.title{
    position: relative;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(10 12 14);
    justify-content: center;
    align-items: center;
    color: white;
    /* padding: 0 20px; */
}
.title > h2{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: bold;
}

.article {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(10 12 14); */
    color: white;
}

.article > div{
    display: block;
}

.article > div:first-child{
    max-width: 60%;
    padding: 0 40px;
    z-index: 2;
}

.article h2{
    font-weight: normal;
    font-size: 2rem;
    margin:0;
    margin-bottom: .5em;
}
.article p{
    font-size: 1.3rem;
    line-height: 1.3;
    margin-bottom: .5em;
    /* letter-spacing: 1px; */
}

.bgShadow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    width: 40%;
    height: 75%;
    background-color: rgb(10 12 14);
    z-index: 1;
}





.shadow {
    position: absolute;
    width: 200vw;
    height: 200vh;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: radial-gradient(circle at center, transparent, rgb(248, 248, 248) 20%);
}

.test {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: black;
    /* padding: 70px 0px; */
    padding-top: 60px;
    padding-bottom: 80px;
    overflow: hidden;
}