.market{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 2em 0;
    .heading{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 1em 0;
        h2{
            font-size: 2rem;
            font-weight: bold;
            font-family: "Helvetica Neue";
        }

    }
    .products{
        position: relative;
        width: 100%;
        height: auto;
        max-width: 1250px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items:center;
        padding-top: 1em;
        // background-color: aqua;
    }
}