$black : #000000;
// $lightblack: #0A0A0A;
$lightblack: #111111;
$gray: #202124;
$darkgray : #292929;

// $gray : #333333;
$lightgray: #A0AAB2;
$lightgray: #40484F;
$text-black: #1D1D1D;
$text-gray: #a9a9a9;

// COLORS
$black : #000000;
// $lightblack: #0A0A0A;
$lightblack: #111111;
$gray: #202124;
$darkgray : #292929;

// $gray : #333333;
$lightgray: #A0AAB2;
$lightgray: #40484F;
$text-black: #1D1D1D;
$text-gray: #a9a9a9;

.revival{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: #000000;
    padding: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    .article {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        color: white;
        padding-top: 0px;
        border-radius: 4px;
        div{
            display: block;
            // width: 90%;
        }
        .excerpt{
            position: absolute;
            top: 20px;
            display:block;
            text-transform: uppercase;
            font-size: .8rem;
            line-height: 1.3;
            letter-spacing: 1px;
            color: $text-gray;
            text-align: center;
        }
        .img{
            position: relative;
            display: block;
            width: 100%;
            min-height: 30vh;
            height: auto;
            margin-top:70px;

        }
        .textContent{
            position: relative;
            display: inline-block;
            width: 90%;
            margin: auto;
            margin-top: 0px;

            .title{
                position: relative;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                color: white;
                text-align: center;
                font-size: 2rem;
                font-family: 'Gentium Book Basic', serif;
                padding: 20px 0;
                font-weight: normal;
            }
    
            div{
                font-size: 1rem;
                line-height: 1.5;
                margin-bottom: .5em;
                color: $text-gray;
                letter-spacing: 0.5px;
                p{
                    position: relative;
                    color: white;
                }
            }
        }
    }
}

@media (min-width: 990px) {
    .revival{
        .article {
            position: relative;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            background-color: #000000;
            color: white;
            border-radius: 4px;
            div{
                display: block;
            }
            .excerpt{
                position: absolute;
                top: 20px;
                display:block;
                text-transform: uppercase;
                font-size: .8rem;
                line-height: 1.3;
                letter-spacing: 1px;
                color: $text-gray;
                text-align: center;
            }
            .img{
                width: 100%;
                height: 100vh;
            }
            .textContent{
                position: relative;
                display: inline-block;
                width: 60%;
                margin: auto;
                max-width: 750px;
    
                .title{
                    position: relative;
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    text-align: center;
                    font-size: 3rem;
                    font-family: 'Gentium Book Basic', serif;
                    padding: 20px 0;
                }
        
                div{
                    font-size: 1.1rem;
                    line-height: 1.5;
                    margin-bottom: .5em;
                    color: $text-gray;
                    letter-spacing: 0.5px;
                    p{
                        position: relative;
                        color: white;
                    }
                }
            }
        }
    }
}







